body {font-family:Verdana, Arial, sans-serif;
      background-image: url(background.gif);
	   color: #221811;
}
#wrapper { background-color: #e3d3b1;
		   width: 80%;
		   min-width: 850px;
		   box-shadow: 3px 3px 3px #333;
		   margin-right: auto;
		   margin-left: auto;
		   }  

nav a:link { color: #846a5a; }
nav a:visited { color: #a6866d; }
nav a:hover { color: #CC9933; }

nav { font-weight: bold;
	  text-align: center;
	  padding-top: 10px; 
	  float: center; 
	  }
	  
nav ul { list-style-type: none; padding-left: 0px; }
nav a { text-decoration: none; }
			
#leftcolumn { float: left;
	          width: 150px;
} 
#rightcolumn { margin-left: 155px;
               background-color: #f5f5dd;
               color: #000000;
} 
header{ background-color: #ccaa66;
        color: #00005D; 
        font-size: 150%; 
        padding: 10px 10px 10px 155px;
}

h2 { color: #56445c; 
     font-family: arial, sans-serif;
}
.content {padding: 20px; 
}  
#floatright {
			 margin: 10px;
             float: right;
}

footer { background-color: #ccaa66;
		 font-size: .60em; 
		 font-style: italic;
		 text-align: center;
		 padding-bottom: 10px; 
		 border: 2px #221811; 
		}
		